.navbar {
  background-color: #301aa8;
  color: white;
  display: flex;
  justify-content: right;
  position: sticky;
  top: 0;
  height: 50px;
  margin: 0px;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.links {
  display: flex;
  width: 19%;
  justify-content: space-evenly;
}
