.button {
  background-color: #4345fc;
  color: white;
  margin-right: 8px;
  padding: 11px;
  margin-top: 5px;
  text-decoration: none;
  width: 150px;
  text-align: center;
}

.projectImg {
  width: 55%;
}

.projectContent {
  display: flex;
}

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
}

.projectContainer {
  margin-bottom: 30px;
  background-color: #fce9ff;
  margin-right: 5%;
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  padding-right: 5%;
  border-radius: 40px;
}

.projectTextConent {
  margin-left: 5%;
  margin-top: 0px;
}

.projectAbout {
  font-size: 20px;
}
